html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'comic sans ms', cursive;
    font-size: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.sidenav {
    height: 100%;
    max-width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(27, 27, 27);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: red;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
  }

div.gallery {
    border: 1px solid #111111;
}

div.gallery:hover {
    border: 1px solid red;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}