html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'comic sans ms', cursive;
    font-size: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.sidenav {
    height: 100%;
    max-width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(27, 27, 27);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: red;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
  }